{
  "database": {
    "host": "127.0.0.1",
    "user": "user",
    "password": "",
    "database": "nya"
  },
  "host": {
    "port": 3333
  },
  "admin": {
    "username": "admin",
    "password": "password"
  }
}
